<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="dave_buisnessdb" connectionString="Server=localhost\sqldev01;Database=dave_buisnessdb;User Id=DVPApp; Password=Pa$$w0rd;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
</configuration>
